header {
    margin: auto;
    padding: 20px;
    background-color: #0074d9;
    color: white;
    text-align: center;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: bold;
}

.link-favoritos {
    text-decoration: none;
    color: white;  
}

main {
    display: grid;
}

footer {
    margin: auto;
    background-color: #333;
    color: white;
    text-align: center;
}

ul {
    text-align: center;
}

li {
    marker: none;
}