header {
    margin: auto;
    padding: 20px;
    background-color: #0074d9;
    color: white;
    text-align: center;
}

h1 {
    font-family: Arial, Helvetica, sans-serif;
}

.link-favoritos {
    text-decoration: none;
    color: white;  
}

main {
    display: grid;
    text-decoration: none;
}

footer {
    margin: auto;
    background-color: #333;
    color: white;
    text-align: center;
}

ul {
    text-align: center;
}

li {
    list-style-type: none;
}

.lista-estados {
    color: #333;
}

.lista-estados:hover {
    opacity: 0.8;
}